canvas { 
    background: #eee;
    display: block; 
    margin: 20px auto; 
}

header {
    display: flex;
    width: 100%;
}

footer {
    bottom: 0;
    display: flex;
    width: 100%;
    height: 50px;
    background-color: #3292f9;
    color: white;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.nav_btn {
    margin: 10px 0 0 10px;
    cursor: pointer;
}

/* The side navigation menu */
.sidenav {
    height: 100%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 99; /* Stay on top */
    top: 0;
    left: 0;
    background-color: white; /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}

  /* The navigation menu links */
.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

  /* When you mouse over the navigation links, change their color */
.sidenav a:hover {
    color: black;
}

  /* Position and style the close button (top right corner) */
.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main {
    z-index: 98;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.2);
    height: 100vh;
    top: 0;
}


  /* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}

article {
    height: 100%;
    width: 100vw;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    align-items: center;
}

@media screen and (max-width:600px) {
    article {
        max-width: 350px;
    }
}

h1 {
    text-align: center;
    font-size: larger;
    margin: 20px auto;
}

h2 {
    text-align: center;
    font-size: large;
    margin: 0 auto 20px auto;
}

form {
    text-align: end;
    max-width: 320px;
}

li {
    margin: 5px auto;
}

input {
    max-width: 80px;
}

.frame {
    width: 320px;
    height: 320px;
}

.i {
    text-align: end;
    margin: 8px auto;
}

.btn {
    max-width: 120px;
}

.loader-box {
    display: flex;
    margin: auto;
    justify-content: center;
    flex-wrap: wrap;
}

.loader {
    display: none;
    border: 4px solid grey; /* Light grey */
    border-top: 4px solid #f3f3f3; /* Blue */
    border-radius: 50%;
    width: 30px;
    height: 30px;
    animation: spin 1s linear infinite;
}

.loaderText {
    display: none;
    color: grey;
    width: 100%;
    margin: 20px auto;
    text-align: center;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.btn-div {
    display: flex;
    flex-direction: row;
    justify-content: right;
}

.all-in-one-btn {
    border-radius: 50px !important;
    width: 100px;
    max-height: 100px;
    margin: 0 0 0 5px;
}

.pm-btn {
    max-width: 150px !important;
    width: 140px;
}

.btn {
    border: 1px solid rgba(0, 0, 0, 0.5);
    border-radius: 15px;
    padding: 4px 6px;
    max-width: 100px;
    cursor: pointer;
}

.rho-btn {
    background-color: white;
}

.yield-btn {
    background-color: pink;
}

.cr-btn {
    background-color: skyblue;
}

.answer {
    width: 320px;
    height: 320px;
}

.answerS {
    width: 320px;
    height: 160px;
}

.answerCr {
    width: 320px;
    height: 160px;
}

.answerY {
    width: 320px;
    height: 160px;
}