canvas { 
    background: #eee;
    display: block; 
    margin: 20px auto; 
}

article {
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
}

h1 h2 {
    margin: auto;
}

form {
    max-width: 320px;
}

input {
    max-width: 150px;
}

.frame {
    width: 320px;
    height: 320px;
}