canvas { 
    background: #eee;
    display: block; 
    margin: 20px auto; 
}

article {
    height: 100vh;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;

}

h1 h2 {
    margin: auto;
}
